# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.so
*.egg
*.egg-info/
dist/
build/
.eggs/

# Virtual environments
.venv/
venv/
env/
.env/
lib/
lib64/
bin/
include/
share/
pyvenv.cfg

# Model files
*.pt
*.bin
*.gguf

# Debug logs
logdir/

# Pytest
.pytest_cache/
.coverage
htmlcov/

# IDE
.idea/
.vscode/
*.swp
*.swo
lib64
